<h1>Listing shopping_lists</h1>

<table class="table table-stripped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Total</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @shopping_lists.each do |shopping_list| %>
  <tr>
    <td><%= shopping_list.name %></td>
    <td><%= shopping_list.description %></td>
    <td><%= number_to_currency shopping_list.total %></td>
    <td><%= link_to 'Show', shopping_list, class: "btn" %></td>
    <td><%= link_to 'Edit', edit_shopping_list_path(shopping_list), class: "btn" %></td>
    <td><%= link_to 'Destroy', shopping_list, class: "btn", method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Shopping list', new_shopping_list_path %>
