<p id="notice"><%= notice %></p>

<h2><%= @shopping_list.name %></h2>
<p>
  <%= @shopping_list.description %>
</p>
<p>
  <b>Tax Rate:</b>
  <%= @shopping_list.tax_rate %>
</p>

<h3>Items</h3>
<table class="table table-stripped">
  <thead>
    <tr>
      <td>Name</td>
      <td>Quantity</td>
      <td>Price</td>
      <td>Total</td>
    </tr>
  </thead>
  <tbody>
    <% @shopping_list.shopping_items.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.quantity %></td>
      <td><%= item.price %></td>
      <td><strong><%= item.total %><strong></td>
    </tr>
    <% end %>
    <tr>
      <td colspan="3"></td>
      <td><strong><%= @shopping_list.total %></strong></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_shopping_list_path(@shopping_list) %> |
<%= link_to 'Back', shopping_lists_path %>
